<h1>Purchase: <%= @purchase.name %></h1>
<h2>Total: <%= @purchase.total %></h2>


<p><%= link_to "Edit purchase", edit_purchase_path(@purchase) %></p>
<p><%= link_to "Delete purchase", purchase_path(@purchase),
               :data => { :confirm => "Are you sure?",
                          :method => "delete" } %></p>

<p><%= link_to "Return to purchases index", purchases_path %></p>